.article-peek .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-peek .header .dot {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-lighter);
}
.article-peek .header .dot::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: var(--theme-color-lighter);
  border-radius: 50%;
  margin-right: 8px;
}
.article-peek .header .more {
  color: var(--text-color-lighter);
  background-color: var(--theme-background);
  font-size: 14px;
  padding: 6px 6px 6px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.article-peek .header .more .hover-effect {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, var(--theme-color) 0%, var(--theme-color-lighter) 100%);
  height: 100%;
  width: 0%;
  opacity: 0.5;
  transition-duration: 0.15s;
}
.article-peek .header .more > :not(.hover-effect) {
  z-index: 1;
}
.article-peek .header .more:hover {
  color: var(--text-color);
}
.article-peek .header .more:hover .hover-effect {
  width: 100%;
}
.article-peek .header .more .icon {
  font-size: 18px;
}
.article-peek .card {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  font-size: 14px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-end;
  background-color: var(--card-background);
}
.article-peek .card:not(:last-child) {
  margin-bottom: 16px;
}
.article-peek .card .title {
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  margin-top: 4px;
}
.article-peek .card .date {
  color: var(--text-color-dimmed);
  display: block;
  font-style: italic;
  font-size: 12px;
  margin: 8px 0;
}
.article-peek .card .description {
  color: var(--text-color-lighter);
  line-height: 1.4;
  height: 4.2em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.article-peek .card .content {
  z-index: 1;
  padding: 14px;
}
.article-peek .card:first-child {
  margin-top: 24px;
  height: 400px;
}
.article-peek .card:first-child:hover .fill-background {
  transform: scale(1.05);
}
.article-peek .card:first-child .title {
  color: var(--dark-text-color);
}
.article-peek .card:first-child .date {
  color: var(--dark-text-color-lighter);
}
.article-peek .card:first-child .description {
  color: var(--dark-text-color-lighter);
}
.article-peek .card:first-child .content {
  background-color: #000a;
}
.article-peek .card .background {
  position: absolute;
  top: 4px;
  right: 4px;
  height: 61.8%;
  opacity: 0.1;
}
.article-peek .card .border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.article-peek .card:not(:first-child):hover .border {
  border-color: var(--theme-color-lighter);
}
.article-peek .card .fill-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=article-peek.css.map */
