.markdown {
  line-height: 1.5;
}
.markdown p:not(:last-child) {
  margin-bottom: 16px;
}
.markdown h1,
.markdown h2,
.markdown h3 {
  font-weight: bold;
  margin: 16px 0;
}
.markdown h1 {
  font-size: 24px;
}
.markdown h2 {
  font-size: 20px;
}
.markdown h3 {
  font-size: 18px;
}
.markdown blockquote {
  border-left: 4px solid var(--theme-color-lighter);
  padding: 12px;
  margin: 16px 0;
  background-color: var(--background-lighter);
}
.markdown s {
  text-decoration: line-through;
}
.markdown strong {
  font-weight: bold;
}
.markdown em {
  font-style: italic;
}
.markdown a {
  color: var(--theme-color);
  position: relative;
}
.markdown a::after {
  content: "";
  height: 2px;
  width: 90%;
  background-color: var(--theme-color);
  position: absolute;
  left: 5%;
  bottom: -4px;
  transition: 0.2s ease-out;
  transform-origin: left;
  transform: scaleX(0);
}
.markdown a:hover::after {
  transform: scaleX(1);
}
.markdown ul {
  list-style: disc;
  padding-left: 1em;
}
.markdown ol {
  list-style: decimal;
  padding-left: 1em;
}
.markdown :not(li) > ul, .markdown :not(li) > ol {
  margin: 16px 0;
}
.markdown pre {
  background-color: var(--background-lighter);
  border-radius: 8px;
  padding: 8px;
}
.markdown :not(pre) > code {
  padding: 0 4px;
  border: 1px solid var(--theme-color-darker);
  display: inline-block;
  background-color: var(--theme-background);
  border-radius: 4px;
}
.markdown table {
  margin: 16px 0;
  border: 1px solid var(--background-lighter);
}
.markdown table th {
  font-weight: bold;
  background-color: var(--theme-color-darker);
  color: var(--dark-text-color);
}
.markdown table tr:nth-child(2n) td {
  background-color: var(--background-lighter);
}
.markdown table th,
.markdown table td {
  padding: 8px 16px;
}
.markdown summary {
  outline: none !important;
}

.new-article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.new-article .editor {
  display: grid;
  grid-template: "header header header" auto "title category cover" auto "description description cover" auto "content-header content-header cover" auto "content content content" 1000px "buttons buttons buttons" auto/1fr 1fr 1fr;
  row-gap: 18px;
  column-gap: 36px;
}
.new-article .editor > * {
  align-self: center;
  justify-self: start;
}
.new-article .editor h2 {
  grid-area: header;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 18px;
}
.new-article .editor .item {
  width: 100%;
  display: flex;
  align-items: center;
}
.new-article .editor .item > * {
  flex-shrink: 0;
}
.new-article .editor .item h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-lighter);
}
.new-article .editor .item select,
.new-article .editor .item input[type=text] {
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--theme-background);
  border: 2px solid var(--theme-color-dimmed);
  padding: 7px 12px;
  flex-grow: 1;
  margin-left: 18px;
}
.new-article .editor .item select:focus-within,
.new-article .editor .item input[type=text]:focus-within {
  border: 2px solid var(--theme-color);
}
.new-article .editor .item input[type=file],
.new-article .editor .item input[type=radio] {
  display: none;
}
.new-article .editor .item button {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 36px;
  color: white;
  border: none;
  background-color: var(--theme-color-darker);
}
.new-article .editor .item button:hover {
  background-color: var(--theme-color);
}
.new-article .editor .item button:active {
  background-color: var(--theme-color-lighter);
}
.new-article .editor .item .markdown {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.new-article .editor .item textarea {
  padding: 16px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  background-color: #8881;
  border: none;
  outline: none !important;
  box-sizing: border-box;
}
.new-article .editor .item.cover {
  align-items: flex-start;
}
.new-article .editor .item.cover label {
  flex: 1 1 auto;
  align-self: stretch;
  margin-left: 18px;
}
.new-article .editor .item.cover img {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #8881;
  object-fit: contain;
}
.new-article .editor .item .tab .text {
  cursor: pointer;
  font-size: 16px;
  opacity: 0.5;
  border-bottom: 2px solid transparent;
  padding: 6px 0;
  margin: 2px 0 2px 18px;
}
.new-article .editor .item .tab input:checked ~ .text {
  transform: scale(1.1);
  opacity: 1;
  font-weight: bold;
  color: var(--theme-color);
  border-color: var(--theme-color);
}
.new-article .editor .item.content, .new-article .editor .item.cover {
  align-self: stretch;
}
.new-article .editor .item.title {
  grid-area: title;
}
.new-article .editor .item.category {
  grid-area: category;
}
.new-article .editor .item.description {
  grid-area: description;
}
.new-article .editor .item.cover {
  grid-area: cover;
}
.new-article .editor .item.content-header {
  grid-area: content-header;
}
.new-article .editor .item.content {
  grid-area: content;
}
.new-article .editor .item.buttons {
  grid-area: buttons;
}
.new-article .article-list {
  margin-left: 36px;
}
.new-article .article-list h2 {
  font-weight: bold;
  font-size: 22px;
}
.new-article .article-list .header {
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-article .article-list .header input {
  border: none;
  background-color: #8882;
  color: var(--text-color);
  font-size: 16px;
  padding: 8px;
}
.new-article .article-list .article-item {
  overflow: hidden;
  width: 400px;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.new-article .article-list .article-item:not(:last-child) {
  margin-bottom: 20px;
}
.new-article .article-list .article-item .title {
  cursor: pointer;
  color: var(--dark-text-color);
  margin: 20px 50px 12px 20px;
  font-size: 18px;
  font-weight: bold;
}
.new-article .article-list .article-item .description {
  color: var(--dark-text-color-dimmed);
  margin: 0 50px 20px 20px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.new-article .article-list .article-item .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  object-fit: cover;
}
.new-article .article-list .article-item:hover .cover {
  transform: scale(1.05);
}
.new-article .article-list .article-item .menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  background-color: #000a;
}
.new-article .article-list .article-item .menu.opened {
  opacity: 1;
  pointer-events: initial;
}
.new-article .article-list .article-item .menu button {
  cursor: pointer;
  padding: 8px 16px;
  background-color: transparent;
  color: var(--dark-text-color);
  border: none;
}
.new-article .article-list .article-item .menu button:hover {
  background-color: #8881;
}
.new-article .article-list .article-item .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: var(--dark-text-color);
}

/*# sourceMappingURL=article.css.map */
