@charset "UTF-8";
footer {
  margin: 0 var(--page-margin);
  margin-top: 32px;
  height: 100px;
  background-color: var(--theme-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .logo {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
@media screen and (max-width: 699px) {
  footer .logo {
    display: none;
  }
}
footer .logo .logo-text {
  margin-left: 16px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color-lighter);
  user-select: none;
}
footer .footer-text {
  margin-right: 24px;
  font-size: 14px;
  color: var(--text-color-dimmed);
}
@media screen and (max-width: 699px) {
  footer footer {
    height: 64px;
    justify-content: center;
  }
  footer footer .footer-text {
    font-size: 12px;
  }
}

html {
  font-family: "PingFang SC", "Sarasa UI SC", "思源黑体 CN Regular", "Source Han Sans CN", "Microsoft YaHei UI", "Segoe UI Emoji", sans-serif;
  scroll-behavior: smooth;
  --text-color: black;
  --text-color-lighter: #606060;
  --text-color-dimmed: #909090;
  --dark-text-color: white;
  --dark-text-color-lighter: #ddd;
  --dark-text-color-dimmed: #aaa;
  --background: white;
  --background-lighter: #eee;
  --card-background: white;
  --theme-background: #fffaf2;
  --theme-color-dimmed: #e8993f33;
  --theme-color: #e89a3f;
  --theme-color-lighter: #ffaf3d;
  --theme-color-darker: #d0832a;
  --page-margin: 128px;
}
html.dark {
  --text-color: #eee;
  --text-color-lighter: #bbb;
  --text-color-dimmed: #999;
  --background: #222;
  --background-lighter: #2a2a2a;
  --card-background: #2a2a2a;
  --theme-background: #2d2a24;
}
@media (prefers-color-scheme: dark) {
  html {
    --text-color: #eee;
    --text-color-lighter: #bbb;
    --text-color-dimmed: #999;
    --background: #222;
    --background-lighter: #2a2a2a;
    --card-background: #2a2a2a;
    --theme-background: #2d2a24;
  }
}

body {
  background-color: var(--background);
  color: var(--text-color);
}

.markdown {
  line-height: 1.5;
}
.markdown p:not(:last-child) {
  margin-bottom: 16px;
}
.markdown h1,
.markdown h2,
.markdown h3 {
  font-weight: bold;
  margin: 16px 0;
}
.markdown h1 {
  font-size: 24px;
}
.markdown h2 {
  font-size: 20px;
}
.markdown h3 {
  font-size: 18px;
}
.markdown blockquote {
  border-left: 4px solid var(--theme-color-lighter);
  padding: 12px;
  margin: 16px 0;
  background-color: var(--background-lighter);
}
.markdown s {
  text-decoration: line-through;
}
.markdown strong {
  font-weight: bold;
}
.markdown em {
  font-style: italic;
}
.markdown a {
  color: var(--theme-color);
  position: relative;
}
.markdown a::after {
  content: "";
  height: 2px;
  width: 90%;
  background-color: var(--theme-color);
  position: absolute;
  left: 5%;
  bottom: -4px;
  transition: 0.2s ease-out;
  transform-origin: left;
  transform: scaleX(0);
}
.markdown a:hover::after {
  transform: scaleX(1);
}
.markdown ul {
  list-style: disc;
  padding-left: 1em;
}
.markdown ol {
  list-style: decimal;
  padding-left: 1em;
}
.markdown :not(li) > ul, .markdown :not(li) > ol {
  margin: 16px 0;
}
.markdown pre {
  background-color: var(--background-lighter);
  border-radius: 8px;
  padding: 8px;
}
.markdown :not(pre) > code {
  padding: 0 4px;
  border: 1px solid var(--theme-color-darker);
  display: inline-block;
  background-color: var(--theme-background);
  border-radius: 4px;
}
.markdown table {
  margin: 16px 0;
  border: 1px solid var(--background-lighter);
}
.markdown table th {
  font-weight: bold;
  background-color: var(--theme-color-darker);
  color: var(--dark-text-color);
}
.markdown table tr:nth-child(2n) td {
  background-color: var(--background-lighter);
}
.markdown table th,
.markdown table td {
  padding: 8px 16px;
}
.markdown summary {
  outline: none !important;
}

.new-article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.new-article .editor {
  display: grid;
  grid-template: "header header header" auto "title category cover" auto "description description cover" auto "content-header content-header cover" auto "content content content" 1000px "buttons buttons buttons" auto/1fr 1fr 1fr;
  row-gap: 18px;
  column-gap: 36px;
}
.new-article .editor > * {
  align-self: center;
  justify-self: start;
}
.new-article .editor h2 {
  grid-area: header;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 18px;
}
.new-article .editor .item {
  width: 100%;
  display: flex;
  align-items: center;
}
.new-article .editor .item > * {
  flex-shrink: 0;
}
.new-article .editor .item h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-lighter);
}
.new-article .editor .item select,
.new-article .editor .item input[type=text] {
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--theme-background);
  border: 2px solid var(--theme-color-dimmed);
  padding: 7px 12px;
  flex-grow: 1;
  margin-left: 18px;
}
.new-article .editor .item select:focus-within,
.new-article .editor .item input[type=text]:focus-within {
  border: 2px solid var(--theme-color);
}
.new-article .editor .item input[type=file],
.new-article .editor .item input[type=radio] {
  display: none;
}
.new-article .editor .item button {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 36px;
  color: white;
  border: none;
  background-color: var(--theme-color-darker);
}
.new-article .editor .item button:hover {
  background-color: var(--theme-color);
}
.new-article .editor .item button:active {
  background-color: var(--theme-color-lighter);
}
.new-article .editor .item .markdown {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.new-article .editor .item textarea {
  padding: 16px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  background-color: #8881;
  border: none;
  outline: none !important;
  box-sizing: border-box;
}
.new-article .editor .item.cover {
  align-items: flex-start;
}
.new-article .editor .item.cover label {
  flex: 1 1 auto;
  align-self: stretch;
  margin-left: 18px;
}
.new-article .editor .item.cover img {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #8881;
  object-fit: contain;
}
.new-article .editor .item .tab .text {
  cursor: pointer;
  font-size: 16px;
  opacity: 0.5;
  border-bottom: 2px solid transparent;
  padding: 6px 0;
  margin: 2px 0 2px 18px;
}
.new-article .editor .item .tab input:checked ~ .text {
  transform: scale(1.1);
  opacity: 1;
  font-weight: bold;
  color: var(--theme-color);
  border-color: var(--theme-color);
}
.new-article .editor .item.content, .new-article .editor .item.cover {
  align-self: stretch;
}
.new-article .editor .item.title {
  grid-area: title;
}
.new-article .editor .item.category {
  grid-area: category;
}
.new-article .editor .item.description {
  grid-area: description;
}
.new-article .editor .item.cover {
  grid-area: cover;
}
.new-article .editor .item.content-header {
  grid-area: content-header;
}
.new-article .editor .item.content {
  grid-area: content;
}
.new-article .editor .item.buttons {
  grid-area: buttons;
}
.new-article .article-list {
  margin-left: 36px;
}
.new-article .article-list h2 {
  font-weight: bold;
  font-size: 22px;
}
.new-article .article-list .header {
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-article .article-list .header input {
  border: none;
  background-color: #8882;
  color: var(--text-color);
  font-size: 16px;
  padding: 8px;
}
.new-article .article-list .article-item {
  overflow: hidden;
  width: 400px;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.new-article .article-list .article-item:not(:last-child) {
  margin-bottom: 20px;
}
.new-article .article-list .article-item .title {
  cursor: pointer;
  color: var(--dark-text-color);
  margin: 20px 50px 12px 20px;
  font-size: 18px;
  font-weight: bold;
}
.new-article .article-list .article-item .description {
  color: var(--dark-text-color-dimmed);
  margin: 0 50px 20px 20px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.new-article .article-list .article-item .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  object-fit: cover;
}
.new-article .article-list .article-item:hover .cover {
  transform: scale(1.05);
}
.new-article .article-list .article-item .menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  background-color: #000a;
}
.new-article .article-list .article-item .menu.opened {
  opacity: 1;
  pointer-events: initial;
}
.new-article .article-list .article-item .menu button {
  cursor: pointer;
  padding: 8px 16px;
  background-color: transparent;
  color: var(--dark-text-color);
  border: none;
}
.new-article .article-list .article-item .menu button:hover {
  background-color: #8881;
}
.new-article .article-list .article-item .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: var(--dark-text-color);
}

.new-video .editor {
  display: grid;
  grid-template: "header header" auto "title title" auto "cover video" auto "buttons buttons" auto/400px 1fr;
  row-gap: 18px;
  column-gap: 36px;
}
.new-video .editor > * {
  align-self: center;
  justify-self: start;
}
.new-video .editor h2 {
  grid-area: header;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 18px;
}
.new-video .editor .item {
  width: 100%;
  display: flex;
  align-items: center;
}
.new-video .editor .item > * {
  flex-shrink: 0;
}
.new-video .editor .item h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-lighter);
}
.new-video .editor .item select,
.new-video .editor .item input[type=text] {
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--theme-background);
  border: 2px solid var(--theme-color-dimmed);
  padding: 7px 12px;
  flex-grow: 1;
  margin-left: 18px;
}
.new-video .editor .item select:focus-within,
.new-video .editor .item input[type=text]:focus-within {
  border: 2px solid var(--theme-color);
}
.new-video .editor .item input[type=file],
.new-video .editor .item input[type=radio] {
  display: none;
}
.new-video .editor .item button {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 36px;
  color: white;
  border: none;
  background-color: var(--theme-color-darker);
}
.new-video .editor .item button:hover {
  background-color: var(--theme-color);
}
.new-video .editor .item button:active {
  background-color: var(--theme-color-lighter);
}
.new-video .editor .item button:disabled {
  cursor: not-allowed;
  color: #888;
  background-color: #8882;
}
.new-video .editor .item .markdown {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.new-video .editor .item textarea {
  padding: 16px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  background-color: #8881;
  border: none;
  outline: none !important;
  box-sizing: border-box;
}
.new-video .editor .item.cover {
  align-items: flex-start;
}
.new-video .editor .item.cover label {
  flex: 1 1 auto;
  align-self: stretch;
  margin-left: 18px;
}
.new-video .editor .item.cover img {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #8881;
  object-fit: cover;
  max-height: 200px;
}
.new-video .editor .item.video {
  align-items: stretch;
}
.new-video .editor .item.video label {
  margin-left: 18px;
}
.new-video .editor .item.video video {
  background-color: #8881;
  max-height: 200px;
}
.new-video .editor .item .tab .text {
  cursor: pointer;
  font-size: 16px;
  opacity: 0.5;
  border-bottom: 2px solid transparent;
  padding: 6px 0;
  margin: 2px 0 2px 18px;
}
.new-video .editor .item .tab input:checked ~ .text {
  transform: scale(1.1);
  opacity: 1;
  font-weight: bold;
  color: var(--theme-color);
  border-color: var(--theme-color);
}
.new-video .editor .item.content, .new-video .editor .item.cover {
  align-self: stretch;
}
.new-video .editor .item.title {
  grid-area: title;
}
.new-video .editor .item.cover {
  grid-area: cover;
}
.new-video .editor .item.video {
  grid-area: video;
}
.new-video .editor .item.buttons {
  grid-area: buttons;
}
.new-video .video-list {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.new-video .video-list h2 {
  font-weight: bold;
  font-size: 22px;
}
.new-video .video-list .header {
  flex: 1 0 100%;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-video .video-list .header input {
  border: none;
  background-color: #8882;
  color: var(--text-color);
  font-size: 16px;
  padding: 8px;
}
.new-video .video-list .video-item {
  flex: 0 0 300px;
  margin-bottom: 32px;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.new-video .video-list .video-item .title {
  cursor: pointer;
  color: var(--dark-text-color);
  margin: 20px 50px 12px 20px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.new-video .video-list .video-item .date {
  color: var(--dark-text-color-dimmed);
  margin: 0 50px 20px 20px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.new-video .video-list .video-item .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.3;
}
.new-video .video-list .video-item:hover .cover {
  transform: scale(1.05);
}
.new-video .video-list .video-item .menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  background-color: #000a;
}
.new-video .video-list .video-item .menu.opened {
  opacity: 1;
  pointer-events: initial;
}
.new-video .video-list .video-item .menu button {
  cursor: pointer;
  padding: 8px 16px;
  background-color: transparent;
  color: var(--dark-text-color);
  border: none;
}
.new-video .video-list .video-item .menu button:hover {
  background-color: #8881;
}
.new-video .video-list .video-item .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: var(--dark-text-color);
}

.new-item-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.new-item-app, .new-item-app * {
  transition: 0.2s ease-out;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}
.new-item-app main {
  margin: 0 var(--page-margin);
  margin-top: 32px;
}
.new-item-app header {
  padding: 24px var(--page-margin) 24px var(--page-margin);
}
@media screen and (min-width: 1920px) {
  .new-item-app {
    --page-margin: 192px;
  }
}
@media screen and (max-width: 1368px) {
  .new-item-app {
    --page-margin: 36px;
  }
}
@media screen and (max-width: 699px) {
  .new-item-app {
    --page-margin: 18px;
  }
}
.new-item-app header {
  display: grid;
  grid-template: "logo title . nav"/64px auto 1fr auto;
}
.new-item-app header * {
  align-self: center;
}
.new-item-app header .logo {
  grid-area: logo;
}
.new-item-app header h1 {
  grid-area: title;
  margin-left: 24px;
  font-size: 28px;
  font-weight: bold;
  color: var(--text-color-lighter);
  user-select: none;
}
.new-item-app header nav {
  grid-area: nav;
  display: flex;
  align-items: center;
}
.new-item-app header nav a {
  color: var(--text-color);
  display: flex;
  padding: 16px;
  opacity: 0.5;
  position: relative;
}
.new-item-app header nav a:hover {
  opacity: 1;
}
.new-item-app header nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%) rotate(45deg);
  width: 16px;
  height: 16px;
  transition: 0.2s ease-out;
  border: 8px solid transparent;
  box-sizing: border-box;
}
.new-item-app header nav a.router-link-active {
  background-color: var(--theme-color-darker);
  opacity: 1;
  font-weight: bold;
  transform: scale(1.05);
}
.new-item-app header nav a.router-link-active::after {
  border-bottom-color: var(--theme-color-darker);
  border-right-color: var(--theme-color-darker);
}
.new-item-app header nav a:not(:last-child) {
  margin-right: 24px;
}

/*# sourceMappingURL=index.css.map */
