.video-view .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-view .header .dot {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-lighter);
}
.video-view .header .dot::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: var(--theme-color-lighter);
  border-radius: 50%;
  margin-right: 8px;
}
.video-view .header .more {
  color: var(--text-color-lighter);
  background-color: var(--theme-background);
  font-size: 14px;
  padding: 6px 6px 6px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.video-view .header .more .hover-effect {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, var(--theme-color) 0%, var(--theme-color-lighter) 100%);
  height: 100%;
  width: 0%;
  opacity: 0.5;
  transition-duration: 0.15s;
}
.video-view .header .more > :not(.hover-effect) {
  z-index: 1;
}
.video-view .header .more:hover {
  color: var(--text-color);
}
.video-view .header .more:hover .hover-effect {
  width: 100%;
}
.video-view .header .more .icon {
  font-size: 18px;
}
.video-view .video-play {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-view .video-play .header {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.video-view .video-play .header h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  color: var(--text-color);
}
.video-view .video-play .header .time {
  margin-left: 32px;
  font-size: 16px;
  font-style: italic;
  color: var(--text-color-dimmed);
}
.video-view .video-play video {
  width: 90%;
  outline: none !important;
}
.video-view .other-videos {
  display: flex;
  margin-top: 28px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none !important;
}
.video-view .other-videos::-webkit-scrollbar {
  height: 0 !important;
  width: 0 !important;
}
.video-view .other-videos .other-video {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.video-view .other-videos .other-video:not(:last-child) {
  margin-right: 28px;
}
.video-view .other-videos .other-video .cover {
  overflow: hidden;
  height: 240px;
  width: 400px;
}
.video-view .other-videos .other-video .cover img {
  object-fit: cover;
  height: inherit;
  width: inherit;
}
.video-view .other-videos .other-video:hover .cover img {
  transform: scale(1.05);
}
.video-view .other-videos .other-video h1 {
  margin: 14px 0 6px 0;
  color: var(--text-color-lighter);
  font-size: 16px;
  font-weight: bold;
}
.video-view .other-videos .other-video .time {
  font-size: 14px;
  font-style: italic;
  color: var(--text-color-lighter);
}
@media screen and (max-width: 1000px) {
  .video-view .video-play video {
    width: 100%;
  }
  .video-view .other-videos .other-video .cover {
    height: 160px;
    width: 240px;
  }
}

/*# sourceMappingURL=video-view.css.map */
