footer {
  margin: 0 var(--page-margin);
  margin-top: 32px;
  height: 100px;
  background-color: var(--theme-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    align-items: center;
    margin-left: 16px;

    @media screen and (max-width: 699px) {
      & {
        display: none;
      }
    }
    .logo-text {
      margin-left: 16px;
      font-size: 16px;
      font-weight: bold;
      color: var(--text-color-lighter);
      user-select: none;
    }
  }
  .footer-text {
    margin-right: 24px;
    font-size: 14px;
    color: var(--text-color-dimmed);
  }
  @media screen and (max-width: 699px) {
    footer {
      height: 64px;
      justify-content: center;
      .footer-text {
        font-size: 12px;
      }
    }
  }
}
