.new-video .editor {
  display: grid;
  grid-template: "header header" auto "title title" auto "cover video" auto "buttons buttons" auto/400px 1fr;
  row-gap: 18px;
  column-gap: 36px;
}
.new-video .editor > * {
  align-self: center;
  justify-self: start;
}
.new-video .editor h2 {
  grid-area: header;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 18px;
}
.new-video .editor .item {
  width: 100%;
  display: flex;
  align-items: center;
}
.new-video .editor .item > * {
  flex-shrink: 0;
}
.new-video .editor .item h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-lighter);
}
.new-video .editor .item select,
.new-video .editor .item input[type=text] {
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--theme-background);
  border: 2px solid var(--theme-color-dimmed);
  padding: 7px 12px;
  flex-grow: 1;
  margin-left: 18px;
}
.new-video .editor .item select:focus-within,
.new-video .editor .item input[type=text]:focus-within {
  border: 2px solid var(--theme-color);
}
.new-video .editor .item input[type=file],
.new-video .editor .item input[type=radio] {
  display: none;
}
.new-video .editor .item button {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 36px;
  color: white;
  border: none;
  background-color: var(--theme-color-darker);
}
.new-video .editor .item button:hover {
  background-color: var(--theme-color);
}
.new-video .editor .item button:active {
  background-color: var(--theme-color-lighter);
}
.new-video .editor .item button:disabled {
  cursor: not-allowed;
  color: #888;
  background-color: #8882;
}
.new-video .editor .item .markdown {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.new-video .editor .item textarea {
  padding: 16px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  background-color: #8881;
  border: none;
  outline: none !important;
  box-sizing: border-box;
}
.new-video .editor .item.cover {
  align-items: flex-start;
}
.new-video .editor .item.cover label {
  flex: 1 1 auto;
  align-self: stretch;
  margin-left: 18px;
}
.new-video .editor .item.cover img {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #8881;
  object-fit: cover;
  max-height: 200px;
}
.new-video .editor .item.video {
  align-items: stretch;
}
.new-video .editor .item.video label {
  margin-left: 18px;
}
.new-video .editor .item.video video {
  background-color: #8881;
  max-height: 200px;
}
.new-video .editor .item .tab .text {
  cursor: pointer;
  font-size: 16px;
  opacity: 0.5;
  border-bottom: 2px solid transparent;
  padding: 6px 0;
  margin: 2px 0 2px 18px;
}
.new-video .editor .item .tab input:checked ~ .text {
  transform: scale(1.1);
  opacity: 1;
  font-weight: bold;
  color: var(--theme-color);
  border-color: var(--theme-color);
}
.new-video .editor .item.content, .new-video .editor .item.cover {
  align-self: stretch;
}
.new-video .editor .item.title {
  grid-area: title;
}
.new-video .editor .item.cover {
  grid-area: cover;
}
.new-video .editor .item.video {
  grid-area: video;
}
.new-video .editor .item.buttons {
  grid-area: buttons;
}
.new-video .video-list {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.new-video .video-list h2 {
  font-weight: bold;
  font-size: 22px;
}
.new-video .video-list .header {
  flex: 1 0 100%;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-video .video-list .header input {
  border: none;
  background-color: #8882;
  color: var(--text-color);
  font-size: 16px;
  padding: 8px;
}
.new-video .video-list .video-item {
  flex: 0 0 300px;
  margin-bottom: 32px;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.new-video .video-list .video-item .title {
  cursor: pointer;
  color: var(--dark-text-color);
  margin: 20px 50px 12px 20px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.new-video .video-list .video-item .date {
  color: var(--dark-text-color-dimmed);
  margin: 0 50px 20px 20px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.new-video .video-list .video-item .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.3;
}
.new-video .video-list .video-item:hover .cover {
  transform: scale(1.05);
}
.new-video .video-list .video-item .menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  background-color: #000a;
}
.new-video .video-list .video-item .menu.opened {
  opacity: 1;
  pointer-events: initial;
}
.new-video .video-list .video-item .menu button {
  cursor: pointer;
  padding: 8px 16px;
  background-color: transparent;
  color: var(--dark-text-color);
  border: none;
}
.new-video .video-list .video-item .menu button:hover {
  background-color: #8881;
}
.new-video .video-list .video-item .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: var(--dark-text-color);
}

/*# sourceMappingURL=video.css.map */
