@import "../markdown.scss";
.article-view {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1100px) {
    & {
      display: block;
      .article {
        margin-bottom: 96px;
      }
    }
  }
  .article {
    flex: 0 0 60%;
    .title {
      display: flex;  
      align-items: center;
      justify-content: space-between;
      margin-bottom: 64px;
      h1 {
        font-size: 24px;
        font-weight: bold;
        color: var(--text-color);
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: -32px;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: var(--theme-color);
        }
      }
      .date {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: var(--text-color-lighter);
        .mdi {
          font-size: 24px;
        }
      }
    }
    article {
      line-height: 1.5;
      margin-bottom: 80px;
    }
    .back-to-top {
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      .mdi {
        color: var(--theme-color);
      }
    }
  }
  aside {
    flex: 0 0 36%;
    & > .title {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      color: var(--text-color-lighter);
      margin-bottom: 32px;
      .dot::before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: var(--theme-color-lighter);
        border-radius: 50%;
        margin-right: 8px;
      }
    }
    .article-grid {
      display: grid;
      grid-template-areas: "image card1" "image card2";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 14px;
      row-gap: 14px;
      margin-bottom: 28px;
      height: 275px;
      cursor: pointer;
      & > a {
        position: relative;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: var(--card-background);
        display: flex;
        flex-direction: column;
        .content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h1 {
            font-size: 16px;
            font-weight: bold;
            color: var(--text-color);
          }
          p {
            font-size: 12px;
            color: var(--text-color-lighter);
            line-height: 1.4;

            display: -webkit-box;
            overflow: hidden;
            height: 4.2em;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
        &:first-child {
          grid-area: image;
        }
        &:nth-child(2) {
          grid-area: card1;
        }
        &:nth-child(3) {
          grid-area: card2;
        }
      }
      .image-item {
        background-color: transparent;
        justify-content: flex-end;
        overflow: hidden;
        .background {
          position: absolute;
          z-index: -1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover .background {
          transform: scale(1.05);
        }
        .content {
          background-color: #000a;
          h1 {
            margin: 14px 10px 8px 10px;
            color: var(--dark-text-color);
          }
          p {
            margin: 10px;
            margin-top: 0;
            color: var(--dark-text-color-lighter);
          }
        }
      }
      .card-item {
        .border {
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border: 2px solid transparent;
          box-sizing: border-box;
        }
        &:hover .border {
          border-color: var(--theme-color-lighter);
        }
        .content {
          height: 100%;
          h1 {
            margin: 16px 14px 12px 14px;
          }
          p {
            margin: 14px;
            margin-top: 0;

            height: 5.6em;
            -webkit-line-clamp: 4;
          }
        }
      }
    }
    .normal-item {
      display: flex;
      align-items: center;
      padding: 8px;
      position: relative;
      cursor: pointer;
      color: var(--text-color-lighter);

      &:not(:last-child) {
        margin-bottom: 4px;
      }
      &:hover {
        color: var(--text-color);
      }
      &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right, var(--theme-color) 0%, var(--theme-color-lighter) 100%);
        height: 100%;
        width: 0%;
        opacity: 0.5;
        transition: all 0.2s 0.2s;
      }
      &:hover::before {
        width: 100%;
      }
      .title {
        flex: 1 0 auto;
        font-size: 16px;
      }
      .date,
      .mdi {
        flex: 0 0 auto;
      }
      .date {
        font-size: 16px;
        font-style: italic;
      }
    }
  }
}
