@charset "UTF-8";
.no-module {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  text-align: center;
  line-height: 2;
}

html {
  font-family: "PingFang SC", "Sarasa UI SC", "思源黑体 CN Regular", "Source Han Sans CN", "Microsoft YaHei UI", "Segoe UI Emoji", sans-serif;
  scroll-behavior: smooth;
  --text-color: black;
  --text-color-lighter: #606060;
  --text-color-dimmed: #909090;
  --dark-text-color: white;
  --dark-text-color-lighter: #ddd;
  --dark-text-color-dimmed: #aaa;
  --background: white;
  --background-lighter: #eee;
  --card-background: white;
  --theme-background: #fffaf2;
  --theme-color-dimmed: #e8993f33;
  --theme-color: #e89a3f;
  --theme-color-lighter: #ffaf3d;
  --theme-color-darker: #d0832a;
  --page-margin: 128px;
}
html.dark {
  --text-color: #eee;
  --text-color-lighter: #bbb;
  --text-color-dimmed: #999;
  --background: #222;
  --background-lighter: #2a2a2a;
  --card-background: #2a2a2a;
  --theme-background: #2d2a24;
}
@media (prefers-color-scheme: dark) {
  html {
    --text-color: #eee;
    --text-color-lighter: #bbb;
    --text-color-dimmed: #999;
    --background: #222;
    --background-lighter: #2a2a2a;
    --card-background: #2a2a2a;
    --theme-background: #2d2a24;
  }
}

body {
  background-color: var(--background);
  color: var(--text-color);
}

.article-peek .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-peek .header .dot {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-lighter);
}
.article-peek .header .dot::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: var(--theme-color-lighter);
  border-radius: 50%;
  margin-right: 8px;
}
.article-peek .header .more {
  color: var(--text-color-lighter);
  background-color: var(--theme-background);
  font-size: 14px;
  padding: 6px 6px 6px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.article-peek .header .more .hover-effect {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, var(--theme-color) 0%, var(--theme-color-lighter) 100%);
  height: 100%;
  width: 0%;
  opacity: 0.5;
  transition-duration: 0.15s;
}
.article-peek .header .more > :not(.hover-effect) {
  z-index: 1;
}
.article-peek .header .more:hover {
  color: var(--text-color);
}
.article-peek .header .more:hover .hover-effect {
  width: 100%;
}
.article-peek .header .more .icon {
  font-size: 18px;
}
.article-peek .card {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  font-size: 14px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-end;
  background-color: var(--card-background);
}
.article-peek .card:not(:last-child) {
  margin-bottom: 16px;
}
.article-peek .card .title {
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  margin-top: 4px;
}
.article-peek .card .date {
  color: var(--text-color-dimmed);
  display: block;
  font-style: italic;
  font-size: 12px;
  margin: 8px 0;
}
.article-peek .card .description {
  color: var(--text-color-lighter);
  line-height: 1.4;
  height: 4.2em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.article-peek .card .content {
  z-index: 1;
  padding: 14px;
}
.article-peek .card:first-child {
  margin-top: 24px;
  height: 400px;
}
.article-peek .card:first-child:hover .fill-background {
  transform: scale(1.05);
}
.article-peek .card:first-child .title {
  color: var(--dark-text-color);
}
.article-peek .card:first-child .date {
  color: var(--dark-text-color-lighter);
}
.article-peek .card:first-child .description {
  color: var(--dark-text-color-lighter);
}
.article-peek .card:first-child .content {
  background-color: #000a;
}
.article-peek .card .background {
  position: absolute;
  top: 4px;
  right: 4px;
  height: 61.8%;
  opacity: 0.1;
}
.article-peek .card .border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.article-peek .card:not(:first-child):hover .border {
  border-color: var(--theme-color-lighter);
}
.article-peek .card .fill-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-peek .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-peek .header .dot {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-lighter);
}
.video-peek .header .dot::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: var(--theme-color-lighter);
  border-radius: 50%;
  margin-right: 8px;
}
.video-peek .header .more {
  color: var(--text-color-lighter);
  background-color: var(--theme-background);
  font-size: 14px;
  padding: 6px 6px 6px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.video-peek .header .more .hover-effect {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, var(--theme-color) 0%, var(--theme-color-lighter) 100%);
  height: 100%;
  width: 0%;
  opacity: 0.5;
  transition-duration: 0.15s;
}
.video-peek .header .more > :not(.hover-effect) {
  z-index: 1;
}
.video-peek .header .more:hover {
  color: var(--text-color);
}
.video-peek .header .more:hover .hover-effect {
  width: 100%;
}
.video-peek .header .more .icon {
  font-size: 18px;
}
.video-peek .video-list {
  display: flex;
  overflow: auto;
  margin-top: 24px;
  scroll-snap-type: x mandatory;
  scrollbar-width: none !important;
}
.video-peek .video-list::-webkit-scrollbar {
  height: 0 !important;
}
.video-peek .video-list .card {
  position: relative;
  height: 280px;
  width: 400px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  scroll-snap-align: start;
  overflow: hidden;
  cursor: pointer;
}
.video-peek .video-list .card:not(:last-child) {
  margin-right: 16px;
}
.video-peek .video-list .card .title-container {
  background-color: #000a;
  padding: 14px;
  z-index: 1;
}
.video-peek .video-list .card .title-container .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  color: var(--dark-text-color);
}
.video-peek .video-list .card .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video-peek .video-list .card:hover .background {
  transform: scale(1.05);
}

.home {
  display: grid;
  grid-template-areas: "predictions stocks researches investments" "videos videos videos videos";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 24px;
  row-gap: 40px;
}
@media screen and (max-width: 1367px) {
  .home {
    grid-template-areas: "predictions stocks" "researches investments" "videos videos";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
@media screen and (max-width: 699px) {
  .home {
    grid-template-areas: "predictions" "stocks" "researches" "investments" "videos";
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
  }
}
.home .predictions {
  grid-area: predictions;
  width: 100%;
}
.home .stocks {
  grid-area: stocks;
  width: 100%;
}
.home .researches {
  grid-area: researches;
  width: 100%;
}
.home .investments {
  grid-area: investments;
  width: 100%;
}
.home .videos {
  grid-area: videos;
  width: 100%;
}

.icon {
  line-height: 1;
  font-size: inherit;
  color: inherit;
}
.icon.top {
  margin-top: 8px;
}
.icon.right {
  margin-right: 8px;
}
.icon.bottom {
  margin-bottom: 8px;
}
.icon.left {
  margin-left: 8px;
}

.markdown {
  line-height: 1.5;
}
.markdown p:not(:last-child) {
  margin-bottom: 16px;
}
.markdown h1,
.markdown h2,
.markdown h3 {
  font-weight: bold;
  margin: 16px 0;
}
.markdown h1 {
  font-size: 24px;
}
.markdown h2 {
  font-size: 20px;
}
.markdown h3 {
  font-size: 18px;
}
.markdown blockquote {
  border-left: 4px solid var(--theme-color-lighter);
  padding: 12px;
  margin: 16px 0;
  background-color: var(--background-lighter);
}
.markdown s {
  text-decoration: line-through;
}
.markdown strong {
  font-weight: bold;
}
.markdown em {
  font-style: italic;
}
.markdown a {
  color: var(--theme-color);
  position: relative;
}
.markdown a::after {
  content: "";
  height: 2px;
  width: 90%;
  background-color: var(--theme-color);
  position: absolute;
  left: 5%;
  bottom: -4px;
  transition: 0.2s ease-out;
  transform-origin: left;
  transform: scaleX(0);
}
.markdown a:hover::after {
  transform: scaleX(1);
}
.markdown ul {
  list-style: disc;
  padding-left: 1em;
}
.markdown ol {
  list-style: decimal;
  padding-left: 1em;
}
.markdown :not(li) > ul, .markdown :not(li) > ol {
  margin: 16px 0;
}
.markdown pre {
  background-color: var(--background-lighter);
  border-radius: 8px;
  padding: 8px;
}
.markdown :not(pre) > code {
  padding: 0 4px;
  border: 1px solid var(--theme-color-darker);
  display: inline-block;
  background-color: var(--theme-background);
  border-radius: 4px;
}
.markdown table {
  margin: 16px 0;
  border: 1px solid var(--background-lighter);
}
.markdown table th {
  font-weight: bold;
  background-color: var(--theme-color-darker);
  color: var(--dark-text-color);
}
.markdown table tr:nth-child(2n) td {
  background-color: var(--background-lighter);
}
.markdown table th,
.markdown table td {
  padding: 8px 16px;
}
.markdown summary {
  outline: none !important;
}

.article-view {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  .article-view {
    display: block;
  }
  .article-view .article {
    margin-bottom: 96px;
  }
}
.article-view .article {
  flex: 0 0 60%;
}
.article-view .article .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}
.article-view .article .title h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  position: relative;
}
.article-view .article .title h1::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--theme-color);
}
.article-view .article .title .date {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--text-color-lighter);
}
.article-view .article .title .date .mdi {
  font-size: 24px;
}
.article-view .article article {
  line-height: 1.5;
  margin-bottom: 80px;
}
.article-view .article .back-to-top {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.article-view .article .back-to-top .mdi {
  color: var(--theme-color);
}
.article-view aside {
  flex: 0 0 36%;
}
.article-view aside > .title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-lighter);
  margin-bottom: 32px;
}
.article-view aside > .title .dot::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: var(--theme-color-lighter);
  border-radius: 50%;
  margin-right: 8px;
}
.article-view aside .article-grid {
  display: grid;
  grid-template-areas: "image card1" "image card2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 14px;
  row-gap: 14px;
  margin-bottom: 28px;
  height: 275px;
  cursor: pointer;
}
.article-view aside .article-grid > a {
  position: relative;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
}
.article-view aside .article-grid > a .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article-view aside .article-grid > a .content h1 {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}
.article-view aside .article-grid > a .content p {
  font-size: 12px;
  color: var(--text-color-lighter);
  line-height: 1.4;
  display: -webkit-box;
  overflow: hidden;
  height: 4.2em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.article-view aside .article-grid > a:first-child {
  grid-area: image;
}
.article-view aside .article-grid > a:nth-child(2) {
  grid-area: card1;
}
.article-view aside .article-grid > a:nth-child(3) {
  grid-area: card2;
}
.article-view aside .article-grid .image-item {
  background-color: transparent;
  justify-content: flex-end;
  overflow: hidden;
}
.article-view aside .article-grid .image-item .background {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-view aside .article-grid .image-item:hover .background {
  transform: scale(1.05);
}
.article-view aside .article-grid .image-item .content {
  background-color: #000a;
}
.article-view aside .article-grid .image-item .content h1 {
  margin: 14px 10px 8px 10px;
  color: var(--dark-text-color);
}
.article-view aside .article-grid .image-item .content p {
  margin: 10px;
  margin-top: 0;
  color: var(--dark-text-color-lighter);
}
.article-view aside .article-grid .card-item .border {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.article-view aside .article-grid .card-item:hover .border {
  border-color: var(--theme-color-lighter);
}
.article-view aside .article-grid .card-item .content {
  height: 100%;
}
.article-view aside .article-grid .card-item .content h1 {
  margin: 16px 14px 12px 14px;
}
.article-view aside .article-grid .card-item .content p {
  margin: 14px;
  margin-top: 0;
  height: 5.6em;
  -webkit-line-clamp: 4;
}
.article-view aside .normal-item {
  display: flex;
  align-items: center;
  padding: 8px;
  position: relative;
  cursor: pointer;
  color: var(--text-color-lighter);
}
.article-view aside .normal-item:not(:last-child) {
  margin-bottom: 4px;
}
.article-view aside .normal-item:hover {
  color: var(--text-color);
}
.article-view aside .normal-item::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, var(--theme-color) 0%, var(--theme-color-lighter) 100%);
  height: 100%;
  width: 0%;
  opacity: 0.5;
  transition: all 0.2s 0.2s;
}
.article-view aside .normal-item:hover::before {
  width: 100%;
}
.article-view aside .normal-item .title {
  flex: 1 0 auto;
  font-size: 16px;
}
.article-view aside .normal-item .date,
.article-view aside .normal-item .mdi {
  flex: 0 0 auto;
}
.article-view aside .normal-item .date {
  font-size: 16px;
  font-style: italic;
}

.intro {
  display: grid;
  grid-template-areas: "photo . title . bar" "photo . . . bar" "photo . description . bar";
  grid-template-columns: auto 1fr 1fr 72px 8px;
  grid-template-rows: auto 72px auto;
}
.intro img {
  grid-area: photo;
  width: 100%;
  height: auto;
  align-self: center;
  justify-self: center;
}
.intro h1 {
  grid-area: title;
  align-self: start;
  justify-self: end;
  font-weight: bold;
  font-size: 54px;
  color: var(--text-color);
  letter-spacing: 8px;
}
.intro .description {
  grid-area: description;
  align-self: end;
  justify-self: end;
  color: var(--text-color-lighter);
  font-size: 18px;
  line-height: 2;
}
.intro .description p {
  text-align: justify;
}
.intro .description p:not(:last-child) {
  margin-bottom: 36px;
}
.intro .bar {
  grid-area: bar;
  background-color: var(--theme-color);
  width: 8px;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .intro {
    grid-template-columns: 200px 1fr 2fr 72px 8px;
  }
  .intro h1 {
    font-size: 36px;
  }
  .intro .description {
    font-size: 16px;
  }
}
@media screen and (max-width: 699px) {
  .intro {
    grid-template-columns: 0 16px 1fr 72px 8px;
  }
}

.video-view .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-view .header .dot {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-lighter);
}
.video-view .header .dot::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: var(--theme-color-lighter);
  border-radius: 50%;
  margin-right: 8px;
}
.video-view .header .more {
  color: var(--text-color-lighter);
  background-color: var(--theme-background);
  font-size: 14px;
  padding: 6px 6px 6px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.video-view .header .more .hover-effect {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, var(--theme-color) 0%, var(--theme-color-lighter) 100%);
  height: 100%;
  width: 0%;
  opacity: 0.5;
  transition-duration: 0.15s;
}
.video-view .header .more > :not(.hover-effect) {
  z-index: 1;
}
.video-view .header .more:hover {
  color: var(--text-color);
}
.video-view .header .more:hover .hover-effect {
  width: 100%;
}
.video-view .header .more .icon {
  font-size: 18px;
}
.video-view .video-play {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-view .video-play .header {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.video-view .video-play .header h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  color: var(--text-color);
}
.video-view .video-play .header .time {
  margin-left: 32px;
  font-size: 16px;
  font-style: italic;
  color: var(--text-color-dimmed);
}
.video-view .video-play video {
  width: 90%;
  outline: none !important;
}
.video-view .other-videos {
  display: flex;
  margin-top: 28px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none !important;
}
.video-view .other-videos::-webkit-scrollbar {
  height: 0 !important;
  width: 0 !important;
}
.video-view .other-videos .other-video {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.video-view .other-videos .other-video:not(:last-child) {
  margin-right: 28px;
}
.video-view .other-videos .other-video .cover {
  overflow: hidden;
  height: 240px;
  width: 400px;
}
.video-view .other-videos .other-video .cover img {
  object-fit: cover;
  height: inherit;
  width: inherit;
}
.video-view .other-videos .other-video:hover .cover img {
  transform: scale(1.05);
}
.video-view .other-videos .other-video h1 {
  margin: 14px 0 6px 0;
  color: var(--text-color-lighter);
  font-size: 16px;
  font-weight: bold;
}
.video-view .other-videos .other-video .time {
  font-size: 14px;
  font-style: italic;
  color: var(--text-color-lighter);
}
@media screen and (max-width: 1000px) {
  .video-view .video-play video {
    width: 100%;
  }
  .video-view .other-videos .other-video .cover {
    height: 160px;
    width: 240px;
  }
}

@media screen and (max-width: 1368px) {
  .duty {
    padding: 0 10vw;
  }
}
@media screen and (max-width: 699px) {
  .duty {
    padding: 0;
  }
}
.duty .header {
  margin: 26px 0;
  font-size: 18px;
  color: var(--text-color-lighter);
  font-weight: bold;
}
.duty .header .mdi {
  color: var(--theme-color);
  transform: rotate(180deg);
  display: inline-block;
}
.duty p {
  margin: 26px 0;
  line-height: 1.5;
}
.duty p strong {
  font-weight: bold;
  font-size: larger;
}

@media screen and (max-width: 1368px) {
  .book {
    padding: 0 10vw;
  }
}
@media screen and (max-width: 699px) {
  .book {
    padding: 0;
  }
}

.not-found {
  min-height: 60vh;
}
.not-found h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 24px 0;
}

footer {
  margin: 0 var(--page-margin);
  margin-top: 32px;
  height: 100px;
  background-color: var(--theme-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .logo {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
@media screen and (max-width: 699px) {
  footer .logo {
    display: none;
  }
}
footer .logo .logo-text {
  margin-left: 16px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color-lighter);
  user-select: none;
}
footer .footer-text {
  margin-right: 24px;
  font-size: 14px;
  color: var(--text-color-dimmed);
}
@media screen and (max-width: 699px) {
  footer footer {
    height: 64px;
    justify-content: center;
  }
  footer footer .footer-text {
    font-size: 12px;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app, .app * {
  transition: 0.2s ease-out;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}
.app main {
  margin: 0 var(--page-margin);
  margin-top: 32px;
}
.app header {
  padding: 24px var(--page-margin) 24px var(--page-margin);
}
@media screen and (min-width: 1920px) {
  .app {
    --page-margin: 192px;
  }
}
@media screen and (max-width: 1368px) {
  .app {
    --page-margin: 36px;
  }
}
@media screen and (max-width: 699px) {
  .app {
    --page-margin: 18px;
  }
}
.app .navbar {
  padding: 24px var(--page-margin) 24px var(--page-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--background);
}
.app .navbar .logo {
  display: flex;
  align-items: center;
}
.app .navbar .logo .logo-text {
  margin-left: 24px;
  font-size: 28px;
  font-weight: bold;
  color: var(--text-color-lighter);
  user-select: none;
}
.app .navbar nav {
  position: relative;
}
.app .navbar nav .nav-list-menu {
  display: none;
  font-size: 36px;
  cursor: pointer;
  padding: 8px;
  color: var(--text-color-lighter);
}
.app .navbar nav .nav-list {
  display: flex;
  align-items: center;
}
.app .navbar nav .nav-list a {
  font-size: 16px;
  color: var(--text-color-dimmed);
  position: relative;
  cursor: pointer;
}
.app .navbar nav .nav-list a:not(:last-child) {
  margin-right: 34px;
}
.app .navbar nav .nav-list a::after {
  content: "";
  position: absolute;
  width: 110%;
  bottom: -12px;
  height: 4px;
  left: 50%;
  background-color: var(--theme-color-lighter);
  transform: translateX(-50%) scaleX(0);
  transition: 0.2s ease-out;
}
.app .navbar nav .nav-list a.router-link-active {
  transform: scale(1.1);
  font-weight: bold;
  color: var(--text-color-lighter);
  position: relative;
}
.app .navbar nav .nav-list a.router-link-active::after {
  transform: translateX(-50%) scaleX(1);
}
.app .navbar nav .nav-list a:not(.router-link-active):hover {
  color: var(--text-color);
}
@media screen and (max-width: 1367px) {
  .app .navbar nav .nav-list-menu {
    display: flex;
  }
  .app .navbar nav .nav-list {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 100%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    flex-direction: column;
    width: max-content;
    z-index: 10;
    background-color: var(--background);
  }
  .app .navbar nav .nav-list a {
    margin: 16px 24px;
  }
  .app .navbar nav .nav-list a:not(:last-child) {
    margin-right: 24px;
  }
  .app .navbar nav .nav-list.open {
    opacity: 1;
    pointer-events: initial;
  }
}
.app main .v-enter,
.app main .v-leave-to {
  opacity: 0;
}
.app main .v-enter-to,
.app main .v-leave {
  opacity: 1;
}
@media screen and (max-width: 699px) {
  .app .navbar {
    padding: 12px var(--page-margin) 12px var(--page-margin);
  }
  .app .navbar .logo {
    transform-origin: left;
    transform: scale(0.75);
  }
  .app .navbar nav .nav-list-menu {
    font-size: 24px;
  }
}

/*# sourceMappingURL=index.css.map */
